.ui.header {
    margin-top: 3em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.logo {
    margin-right: 1em;
}

.small-margin {
    margin-top: 0.5em;
}

.application {
    padding-top: 1em;
}

.source-image {
    position: relative;
    display: inline-block;
}

.source-image img {
    max-width: 100%;
    max-height: 70vh;
}

.idol-face {
    position: absolute;
    text-align: left;
    width: 0;
    height: 0;
    border: 2px #009c95 solid;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    transition: background-color 1s;
}

.idol-face:hover {
  background-color: rgba(255,255,255,0);
}

.idol-name {
    color: #f26202;
    min-width: 100px;
    position: absolute;
}

.idol-name-popup {
  margin: 0 auto;
  min-height: 20vh;
  min-width: 120px;
  max-height: 30vh;
}

.ui.cards.idol-list {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.entry-thumbnail {
  max-height: 200px;
  overflow: hidden;
}

.idol-thumbnail {
  height: 120px;
  overflow: hidden;
}

.test-thumbnail {
  max-height: 150px;
  overflow: hidden;
}

.idol-statistics {
  justify-content: center;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3, .ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.fixed.inverted.menu .toc.item {
    display: none;
}

.fb-comments, .fb-comments * {
    width: 100% !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

@media only screen and (max-width: 700px) {
    .fixed.inverted.menu .item, .fixed.inverted.menu .menu {
        display: none;
    }
    .fixed.inverted.menu .toc.item {
        display: block;
    }
    .ui.header {
        margin-top: 2em;
    }
}
