<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Nhận diện JAV Idol</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <meta name="description" content="Nhận diện JAV Idol">
        <meta name="keywords" content="JAV, Microsoft Cognitive API">
        <meta name="author" content="Hoàng Phạm">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body ng-app="jav-idol-face" ng-controller="mainCtrl">
        <!-- Sidebar Menu -->
        <div class="ui vertical inverted sidebar menu">
            <a href="#top" class="header item">
                <img class="ui logo" src="/images/logo.png">
                Nhận diện Idol
            </a>
            <a href="#guide" class="item">Hướng dẫn sử dụng</a>
            <a href="#idol-list" class="item">Danh sách idol</a>
            <a href="#review" class="item">Đánh giá</a>
            <a href="#about" class="item">Về tác giả</a>
            <a href="#discuss" class="item">Bình luận</a>
        </div>

        <div class="pusher">
            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a href="#top" class="header item">
                        <img class="ui logo" src="/images/logo.png">
                        Nhận diện Idol
                    </a>
                    <a href="#guide" class="item">Hướng dẫn sử dụng</a>
                    <a href="#idol-list" class="item">Danh sách idol</a>
                    <a href="#review" class="item">Đánh giá</a>
                    <a href="#about" class="item">Về tác giả</a>
                    <a href="#discuss" class="item">Bình luận</a>
                </div>
            </div>

            <!-- Page Contents -->

            <div class="ui header inverted center aligned segment">
                <div class="ui text container">
                    <img width="100" src="/images/header_logo.jpg" alt="" class="ui center">
                    <h1 class="ui inverted small-margin">
                        Nhận diện idol
                    </h1>
                    <h4 class="small-margin">Công cụ giúp bạn tìm JAV idol mà không cần hóng link từ các "thánh"</h4>
                </div>
            </div>

            <div id="top" class="ui container">
                <div class="application">
                    <div class="ui form">
                        <div class="inline fields">
                            <label for="fruit">Dán link vào đây hoặc upload ảnh</label>
                            <div class="field" ng-click="input.source = 'link'">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="source" ng-model="input.source" value="link" checked="" tabindex="0" class="hidden">
                                    <label for="link">Dán link</label>
                                </div>
                            </div>
                            <div class="field" ng-click="input.source = 'file'">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="fruit" ng-model="input.source" value="file" tabindex="0" class="hidden">
                                    <label for="file">Upload ảnh</label>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div ng-class="{loading: isLoading}" class="ui action input">
                                <input type="text" ng-if="input.source == 'link'" ng-model="input.imageLink" placeholder="Link ảnh"/>
                                <input type="file" fileread="input.imageLink" ng-if="input.source == 'file'" placeholder="Upload ảnh"/>
                                <button ng-disabled="isLoading || !input.imageLink" ng-click="recognize()" class="ui icon primary button">

                                    <span ng-if="!isLoading">
                                        <i class="search icon"></i>
                                        Tìm idol</span>
                                    <span ng-if="isLoading">
                                        <i class="spinner loading icon"></i>
                                        Đang tìm</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ui center aligned basic segment">
                        <div class="source-image">
                            <img src="http://placehold.it/600x300?text=JAV+idol"
                            ng-if="!input.imageLink" class="ui"/>
                            <img ng-src="{{input.imageLink}}" id="source-image" class="ui"/>
                            <div class="idol-face" ng-style="face.face" ng-repeat="face in faces">
                                <a target="_blank" ng-href="http://www.jjgirls.com{{face.candidate.link}}">
                                    <span ng-style="face.candidate.nameStyle" class="idol-name">{{face.candidate.name}}</span>
                                </a>
                            </div>
                        </div>
                        <!-- Result will be đisplay on image -->
                    </div>

                    <div class="ui clearfix">
                        <h3>Kết quả gần đây nhất (realtime)</h3>
                        <div class="ui four doubling cards">
                            <div class="card" ng-repeat="entry in latestEntries | orderBy:'-' ">
                                <a target="_blank" ng-href="{{entry.image}}" class="image entry-thumbnail">
                                    <img src="{{entry.image}}">
                                </a>
                                <div class="content">
                                    <div class="header">{{entry.idols}}</div>
                                    <div class="meta">
                                        {{entry.time | dateFromNow}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 id="guide" class="section ui horizontal header divider">
                    Hướng dẫn sử dụng
                </h2>

                <div>Hướng dẫn. Có thể thử dán một số link ảnh dưới đây.

                    <h5>Máy nhận dạng với độ chính xác vào khoảng 70-80%. Hiện tại, cơ sở dữ liệu chỉ bao gồm top 500 idols. Sẽ được cập nhật mỗi tháng.</h5>
                    <h5>Không nên thử up ảnh người yêu v...v nếu không muốn hậu quả xảy ra.</h5>
                    <p>Nếu thử không ra kết quả đúng, hãy tìm idol trong danh sách phía dưới để xem hệ thống có thể nhận diện được chưa nhé</p>
                </div>

                <h2 id="idol-list" class="section ui horizontal header divider">
                    Danh sách idol
                </h2>
                <div>
                    <p>Hệ thống bao gồm hình ảnh của 2000 idol nổi nhất, trong đó có thể nhận diện được
                        <b>500/2000</b>
                    </p>
                    <p>Vẫn đang tiếp tục học thêm.</p>

                    <div class="ui fluid icon input">
                        <input type="text" ng-model="idolSearch" placeholder="Tìm idol">
                        <i class="search icon"></i>
                    </div>

                    <div class="idol-list ui six doubling cards">
                        <div dir-paginate="idol in idols | filter: idolSearch | itemsPerPage: 12" class="card">
                            <a ng-href="{{idol.bigThumb}}" class="image idol-thumbnail">
                                <img src="{{idol.thumbnail}}">
                            </a>
                            <div class="content">
                                <a target="blank" ng-href="{{idol.link}}" class="header">{{idol.name}}</a>
                                <div class="meta">
                                    <span ng-if="idol.id <= 500">
                                        <i class="green check circle icon"></i>
                                        Có thể nhận diện</span>
                                    <span ng-if="idol.id > 500">
                                        <i class="red remove circle icon"></i>
                                        Chưa thể nhận diện</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <dir-pagination-controls class="right floated"></dir-pagination-controls>
                </div>

                <div class="clearfix"></div>

                <h2 id="review" class="section ui horizontal header divider">
                    Đánh giá
                </h2>

                <div>
                    Đánh giá khách quan
                </div>

                <div class="ui vertical stripe quote segment">
                    <div class="ui equal width stackable internally celled grid">
                        <div class="center aligned row">
                            <div class="column">
                                <h3>"Thật không thể tin nổi! Một bước tiến kì diệu về công nghệ."</h3>
                                <p><img src="assets/images/avatar/nan.jpg" class="ui avatar image">
                                    <b>Nguyễn Tử Quảng</b>
                                </p>
                            </div>
                            <div class="column">
                                <h3>"Có nằm mơ tôi cũng không ngờ công nghệ của Microsoft lại được áp dụng một cách sáng tạo như thế"</h3>
                                <p><img src="assets/images/avatar/nan.jpg" class="ui avatar image">
                                    <b>Bill Gates</b>
                                    Sáng lập Microsoft
                                </p>
                            </div>
                            <div class="column">
                                <h3>"Một cái tát thẳng vào mặt những thằng post ảnh không đưa link"</h3>
                                <p>
                                    <img src="assets/images/avatar/nan.jpg" class="ui avatar image">
                                    <b>Anh Huy Phạm</b>
                                    Admin Page 18+
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 id="about" class="section ui horizontal header divider">
                    Về tác giả
                </h2>
                <div class="ui vertical stripe segment">
                    <div class="ui text container">
                        <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
                        <p>
                            Back end: Microsoft Cognitive Service, .NET Core, Azure Funtion, Cloudinary, Amazon EC2, Redis Cache, Firebase
                        </p>
                        <p>
                            Front-end: CDNJS, Github Page, SemanticUI, AngularJS</p>
                        <a class="ui large button">Read More</a>
                        <h4 class="ui horizontal header divider">
                            <a href="#">Case Studies</a>
                        </h4>
                        <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
                        <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
                        <a class="ui large button">I'm Still Quite Interested</a>
                    </div>
                </div>

                <h2 id="discuss" class="section ui horizontal header divider">
                    Bình luận
                </h2>

                <div class="ui container">
                    <div class="fb-comments" data-href="http://jav-idol.toidicodedao.com/" data-numposts="15"></div>
                </div>
            </div>

            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                    var js,
                        fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1427665520889672";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

        </body>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                },
                i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-88777570-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.min.js"></script>
        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

        <script type="text/javascript">
            var config = {
                apiKey: "AIzaSyDNvsfwFt7W-G9QahIUdXoE0wcHFuyrKvA",
                authDomain: "javidolface.firebaseapp.com",
                databaseURL: "https://javidolface.firebaseio.com",
                storageBucket: "javidolface.appspot.com",
                messagingSenderId: "680094238689"
            };
            firebase.initializeApp(config);
        </script>

        <script src="/js/libs/dirPagination.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/vi.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/app.js"></script>

    </html>
