<div class="ui pagination menu right floated" ng-if="1 < pages.length || !autoHide">
        <a class="item" ng-if="boundaryLinks"
         ng-class="{ disabled : pagination.current == 1 }"
         ng-click="setCurrent(1)">&laquo;</a>
        <a class="item"
        ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }"
        href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
        <a class="item"
        ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
        ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }"
         ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
        <a class="item"
        ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }"
         ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
        <a class="item"
        ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }"
         ng-click="setCurrent(pagination.last)">&raquo;</a>

</div>
